<?xml version="1.0" encoding="UTF-8" ?>
<sqlGroup name="test">
    <sql id="selectByPrimaryKey">
        select
        a.id,a.username,a.name,a.sex,a.status,a.created,a.time,a.test_id,a.love_name,b.girl_name,b.status as girlStatus
        from t_test a left join t_girl b on a.id = b.id and b.age > :age
        where a.id = :id
    </sql>
    <sql id="selectByExample">
        select
        id
        ,username,name,sex,status,created,time,test_id,love_name
        from t_test
        where
        id = :id and
        <!--and username = :username-->
        <!--and name = :name-->
        <!--and sex = :sex-->
        <!--and -->
        status = :status
        <!--and created = :created-->
        <!--and time = :time-->
        <!--and test_id = :test_id-->
        <!--and love_name = :love_name-->
    </sql>
    <sql id="deleteByKey">
        delete from t_test
        where id = :id
    </sql>
    <sql id="insert">
        insert into t_test (username, name, sex, status, created, time, test_id, love_name)
        values (:username, :name, :sex, :status, :created, :time, :test_id, :love_name)
    </sql>
    <sql id="updateByPrimaryKey">
        update t_test
        set
        username = :username,name = :name,sex = :sex,status = :status,created = :created,time = :time,test_id =
        :test_id,love_name = :love_name
        where
        id = :id
    </sql>
    <sql id="operationSql">

        select
        a.id,a.username,a.name,a.sex,a.status,a.created,a.time,a.test_id,a.love_name
        from $table a
        where a.username like :username and id in :id
        <!--and (a.id  &gt;= :minId or a.id &lt;= :maxId)-->
    </sql>
</sqlGroup>